{% macro experiencelist(experiences) %}
  <section>
    <div class="project-grid">
      {% for experience in experiences %}
        <div class="project-card" {% if experience.url == url %} data-current="current item"{% endif %}>
          <h3>
              {% if experience.data.emoji %}
                <span class="project-card__emoji">{{ experience.data.emoji }}</span>
              {% endif %}
              {% if experience.data.organization %}
                {{ experience.data.organization }} 
              {% else %}
                Untitled
              {% endif %}
          </h3>
          <h4>{{ experience.data.role }}</h4>
          {% if experience.data.isCurrent %}
                <p>{{ experience.data.startdate }} - {{ experience.data.isCurrent }}</p>
              {% else %}
                <p>{{ experience.data.startdate }} - {{ experience.data.enddate }}</p>
          {% endif %}
          <p>{{ experience.data.location }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}
