{% macro experiencelist(experiences) %}
  <section>
    <div class="project-grid">
      {% for experience in experiences %}
        <div class="project-card" {% if experience.url == url %} data-current="current item"{% endif %}>
          <h4>
            <a class="project-card__title" href="{{ experience.url | url }}">
              {% if experience.data.title %}
                {{ experience.data.title }}
              {% else %}
                Untitled
              {% endif %}
            </a>
          </h4>
          {% if experience.data.summary %}
            <p>
              {{ experience.data.summary }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}
