---
layout: base.njk
section: experience
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
  <hr/>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/experiences/' | url }}">← View All Experiences</a>
  </nav>
</div>