---
layout: base.njk
section: experiences
---
<div class="page-container">
  <h1>{{ organization }}</h1>

  {% if role %}
    <p>{{ role }}</p>
  {% endif %}

  <hr/>

  {{ layoutContent | safe }}

  {# Experiences #}
  {% from "macros/experiencelist.njk" import experiencelist %}
  {{ experiencelist(experience = collections.experience | reverse) }}
</div>